<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>NymsCareClient</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <app-root></app-root>
    <script type="text/javascript" src="~/Scripts/dist/nyms-care-client/runtime.js"></script>
    <script type="text/javascript" src="~/Scripts/dist/nyms-care-client/polyfills.js"></script>
    <script type="text/javascript" src="~/Scripts/dist/nyms-care-client/styles.js"></script>
    <script type="text/javascript" src="~/Scripts/dist/nyms-care-client/vendor.js"></script>
    <script type="text/javascript" src="~/Scripts/dist/nyms-care-client/main.js"></script>
    <script type="text/javascript" src="~/Scripts/dist/nyms-care-client/admin-admin-module.js"></script>
</body>
</html>
